version: "3.8"
services:
  redis-master:
    container_name: "redis-master-{{ ansible_hostname }}-{{ ansible_play_hosts_all.index(inventory_hostname) + 1}}"
    command: "redis-server {{ redis_directory_base_path }}Redis/Config/{{ redis_master_port }}/redis_{{ redis_master_port }}.conf"
    image: "{{ redis_base_image }}:{{ redis_version }}"
    volumes:
      - Redis/Data/{{ redis_master_port }}/:{{ redis_directory_base_path }}Redis/Data/{{ redis_master_port }}/
      - "{{ redis_directory_base_path }}Redis/Config/{{ redis_master_port }}/redis_{{ redis_master_port }}.conf:{{ redis_directory_base_path }}Redis/Config/{{ redis_master_port }}/redis_{{ redis_master_port }}.conf"
      - "{{ redis_certificates_base_path }}:{{ redis_certificates_base_path }}"
#      - /var/run/redis/redis_7000.pid:/var/run/redis/redis_7000.pid
#      - /var/log/redis/redis_7000.log:/var/log/redis/redis_7000.log
    restart: unless-stopped
    network_mode: host


  redis-slave:
    container_name: "redis-slave-{{ ansible_hostname }}-{{ ansible_play_hosts_all.index(inventory_hostname) + 1}}"
    command: "redis-server {{ redis_directory_base_path }}Redis/Config/{{ redis_slave_port }}/redis_{{ redis_slave_port }}.conf"
    image: "{{ redis_base_image }}:{{ redis_version }}"
    volumes:
      - "{{ redis_directory_base_path }}Redis/Data/{{ redis_slave_port }}/:{{ redis_directory_base_path }}Redis/Data/{{ redis_slave_port }}/"
      - "{{ redis_directory_base_path }}Redis/Config/{{ redis_slave_port }}/redis_{{ redis_slave_port }}.conf:{{ redis_directory_base_path }}Redis/Config/{{ redis_slave_port }}/redis_{{ redis_slave_port }}.conf"
      - "{{ redis_certificates_base_path }}:{{ redis_certificates_base_path }}"
#      - /var/run/redis/redis_7001.pid:/var/run/redis/redis_7001.pid
#      - /var/log/redis/redis_7001.log:/var/log/redis/redis_7001.log
    restart: unless-stopped
    network_mode: host





